extends layout

block content
  #list.flex-container
    .flex-item
      .list-group
        for poll in polls
          include poll
    .flex-item
      canvas#myChart(width="400", height="400")
block script
  script(type='text/javascript', src='controllers/voteController.client.js')