extends layout

block content
  #list.container
      .list-group(role="tablist", id="accordion")
        for poll in polls
          include edit
block script
  script(type='text/javascript', src='controllers/editController.client.js')