mixin button(choice)
    button.btn.btn-default.center(type='submit', value=choice.choice, id=choice.choice, data-votes=choice.votes)
        =choice.choice

.panel.panel-default
    #headingOne.panel-heading(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#accordion', href='#'+poll._id, aria-expanded='true', aria-controls='collapseOne')
           =poll.name
    .panel-collapse.collapse(id=poll._id, role='tabpanel', aria-labelledby='headingOne')
      .panel-body
        .btn-toolbar
            each choice in poll.choices
                +button(choice)