extends layout

mixin button(choice)
  button.btn.btn-default.center(type='submit', value=choice.choice, id=choice._id, data-votes=choice.votes)
      =choice.choice
      
block content
  #list.flex-container
    .flex-item
      .panel.panel-default
        #headingOne.panel-heading(role='tab')
          h4.panel-title
            a(role='button')
                =poll.name
        .panel-collapse.collapse.in(id=poll._id, role='tabpanel', aria-labelledby='headingOne')
          .panel-body
            .btn-toolbar
                each choice in poll.choices
                  +button(choice)
    .flex-item
      canvas#myChart(width="400", height="400")
      
block script
  script(type='text/javascript', src='/controllers/voteController.client.js')
  
