body {
	text-align: center;
}

.list-group {
	margin-top:20px;
	margin-left: 10%;
	width: 80%;
}

.btn-toolbar .center {
	float: none;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	background-color: lightgrey;
}

.flex-item {
	width: 50%;
	margin: 10px;
	margin-bottom:-10px;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 90vh;
  max-width: 90vh;
}
@media screen and (max-width: 768px) {
	.flex-container{
	-webkit-flex-flow: column;
	-webkit-flex-direction: column-reverse;
   flex-direction: column-reverse;
	}
	#myChart{
		max-height: 70vh;
    max-width: 70vh;
	}
	.flex-item{
		width:90%;
		margin-right:0px;
	}
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}