body {
	text-align: center;
}

.list-group {
	margin-left: 15%;
	width: 70%;
}

.btn-toolbar .center {
	float: none;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	background-color: lightgrey;
}

.flex-item {
	min-height:420px;
	width: 50%;
	margin: 10px;
	margin-bottom:-10px;
}

canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
}